.div_container{
  display: flex;
  justify-content: space-between;
}
.div_check{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.checkInput{
  margin-top: 4px;
}
.block{
  width: 48%;
}
.roleName{
  padding: 5px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 1px solid silver;
  width: 100%;
  text-align: center;
}
